<div>
    <div class="mx-auto col-10 col-md-8 col-lg-6 shadow-lg p-3 mb-5 bg-body rounded" style="margin-top:20px">
			<form class="row g-3">
				  <div>
				    <label for="inputCity" class="form-label">Search by Keyword</label>
				    <input type="text" class="form-control" id="inputCity">
				  </div>
			</form>
	</div>
  	<div style="padding: 20px">
		<table class="table">
		  <thead>
		    <tr>
		      <!-- <th scope="col">#</th> -->
		      <th scope="col">Hospital</th>
		      <th scope="col">Address</th>
		      <th scope="col">Contact</th>
		      <th scope="col">Other Details</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <!-- <th scope="row">1</th> -->
		      <td>Asiri Hospitals (Pvt.) Ltd.</td>
		      <td>Wackwella Rd, Galle</td>
		      <td>0912246467</td>
		      <td>Opens 24x7</td>
		    </tr>
		    <tr>
		      <!-- <th scope="row">2</th> -->
		      <td>Healthguard Pharmacies</td>
		      <td>Colombo 03</td>
		      <td>0112457867</td>
		      <td>Opens 7.30 am - 9.30 pm</td>
		    </tr>
		    <!-- <tr>
		      <th scope="row">3</th>
		      <td colspan="2">Larry the Bird</td>
		      <td>@twitter</td>
		    </tr> -->
		  </tbody>
		</table>
  	</div>
</div>