
<div class="mx-auto col-10 col-md-8 col-lg-6 shadow-lg p-3 mb-5 bg-body rounded" style="margin-top:20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by keywords" aria-label="Search by keywords" aria-describedby="button-addon2" [(ngModel)]="searchKeyword">
            <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="search()">Search</button>
          </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;"></div> 
    <div class="row">
        <div class="col-md-6 mb-5" *ngFor="let item of (filteredData.length ? filteredData : firstAidData)">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">{{ item.emergency }}</h5>
                  <p class="card-text">{{ item.firstAid }}</p>
                </div>
              </div>
        </div>    
    </div>
</div>
    