
<div class="mx-auto col-10 col-md-8 col-lg-6 shadow-lg p-3 mb-5 bg-body rounded" style="margin-top:20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by keywords" aria-label="Search by keywords" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
          </div>
        </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://via.placeholder.com/300x200.png?text=First+Aid+1" class="card-img-top" alt="First Aid for a person choking">
                <div class="card-body">
                    <h5 class="card-title">First Aid for a person choking</h5>
                    <p class="card-text">First, encourage the person to cough.
                        Second, bend the person forwards and give up to 5 back blows to try and dislodge the blockage.
                        If he/she is still choking, give up to 5 abdominal thrusts: hold around the waist and pull inwards and upwards above the belly button.</p>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://via.placeholder.com/300x200.png?text=First+Aid+2" class="card-img-top" alt="First Aid for a bleeding wound">
                <div class="card-body">
                    <h5 class="card-title">First Aid for a bleeding wound</h5>
                    <p class="card-text">Apply firm pressure over the wound. Use a sterile or clean bulky pad and apply it firmly with hand pressure. 
                        Apply a bandage to keep the dressing in place.</p>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://via.placeholder.com/300x200.png?text=First+Aid+2" class="card-img-top" alt="First Aid 3">
                <div class="card-body">
                    <h5 class="card-title">First Aid for an unconscious person</h5>
                    <p class="card-text">Call or tell someone to call 911 or the local emergency number. 
                        Check the person's airway, breathing, and pulse frequently. If necessary, begin CPR. 
                        If the person is breathing and lying on their back, and you do not think there is a spinal injury, 
                        carefully roll the person toward you onto their side</p>
                </div>
            </div>
        </div>
    
    </div>
    